.DS_Store
.settings/
assets
protected/.DS_Store
protected/config/.DS_Store
protected/config/miniyun-config.php
protected/runtime
static/images/plugins/
protected/config/memcache.php
protected/config/miniyun_offline.php
protected/plugins/offline
.idea/
static/views/
protected/runtime/sql.log
static/thumbnails
upload