html {
	background: #f9f9f9;
}

body {
	background: #fff;
	color: #333;
	font-family: sans-serif;
	margin: 2em auto;
	width: 700px;
	padding: 1em 2em;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 1px solid #dfdfdf;
}

a {
	color: #2583ad;
	text-decoration: none;
}

a:hover {
	color: #d54e21;
}

h1 {
	border-bottom: 1px solid #dadada;
	clear: both;
	color: #666;
	font: 24px Georgia, "Times New Roman", Times, serif;
	margin: 5px 0 0 -4px;
	padding: 0;
	padding-bottom: 7px;
}

h2 {
	font-size: 16px;
}

p,li,dd,dt {
	padding-bottom: 2px;
	font-size: 12px;
	line-height: 18px;
}

code,.code {
	font-size: 13px;
}

ul,ol,dl {
	padding: 5px 5px 5px 22px;
}

a img {
	border: 0;
}

abbr {
	border: 0;
	font-variant: normal;
}

#logo {
	margin: 6px 0 14px 0;
	border-bottom: none;
	text-align: center;
}

.step {
	margin: 20px 0 15px;
}

.step,th {
	text-align: left;
	padding: 0;
}

.submit input,.button,.button-secondary {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 14px !important;
	line-height: 16px;
	padding: 6px 12px;
	cursor: pointer;
	border: 1px solid #bbb;
	color: #464646;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
}

.button:hover,.button-secondary:hover,.submit input:hover {
	color: #000;
	border-color: #666;
}

textarea {
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.form-table {
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;
}

.form-table td {
	margin-bottom: 9px;
	padding: 10px;
	border-bottom: 10px solid #F7FBFE;
	font-size: 12px;
}

.form-table th {
	
	font-size: 13px;
	text-align: right;
	padding: 16px 10px 10px 10px;
	border-bottom: 10px solid #F7FBFE;
	width: 130px;
	vertical-align: center;
}

.form-table tr {
	background: #F8F8F8;
}

.form-table code {
	line-height: 18px;
	font-size: 18px;
}

.form-table p {
	margin: 4px 0 0 0;
	font-size: 11px;
}

.form-table input {
	line-height: 20px;
	font-size: 15px;
	padding: 2px;
}

.form-table th p {
	font-weight: normal;
}

#error-page {
	margin-top: 50px;
}

#error-page p {
	font-size: 12px;
	line-height: 18px;
	margin: 25px 0 20px;
}

#error-page code,.code {
	font-family: Consolas, Monaco, monospace;
}

#pass-strength-result {
	background-color: #eee;
	border-color: #ddd !important;
	border-style: solid;
	border-width: 1px;
	margin: 5px 5px 5px 1px;
	padding: 5px;
	text-align: center;
	width: 200px;
	display: none;
}

#pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c !important;
}

#pass-strength-result.good {
	background-color: #ffec8b;
	border-color: #fc0 !important;
}

#pass-strength-result.short {
	background-color: #ffa0a0;
	border-color: #f04040 !important;
}

#pass-strength-result.strong {
	background-color: #c3ff88;
	border-color: #8dff1c !important;
}

.message {
	border: 1px solid #e6db55;
	padding: .3em .6em;
	margin: 5px 0 15px;
	background-color: #ffffe0;
}
.warn {
    border: 1px solid #e6db55;
    padding: .3em .6em;
    margin: 5px 0 15px;
    background-color: #FFDBAD;
}
.tb th{ padding:5px; color:#6CA1B4; font-weight:700; }
.tb td{ padding:3px 5px; }
.tb .w, .tb .nw, .tb .padleft{ padding-left:45px; }
.tb .pdleft1{ padding-left:67px; }
.w{ background:url(../images/bg-repno.gif) no-repeat 55px -148px;  }
body, td, input, textarea, select, button{ color:#666; font:12px/1.5 Verdana, Tahoma, Arial, 'Microsoft Yahei', 'Simsun', sans-serif; }
.btn_white {overflow:hidden;display:block;height:31px!important;line-height:28px;color:#333;background:url(../images/btn-white-left.png) no-repeat left top;text-align:center;}
.btn_white span.b1 {display:block;height:31px;background:url(../images/btn-white-right.png) no-repeat right top;}
.btn_white span.b2 {display:block;height:31px;background:url(../images/btn-white-center.png) repeat-x right top;margin:0px 3px;}

.btn_white:hover {background-position:0px -31px;}
.btn_white:hover span.b1 {background-position:right -31px;}
.btn_white:hover span.b2 {background-position:0px -31px;}